/GSTHD
/.vs
/packages
/resources/bosses
/resources/mm
/resources/alttp
/resources/3ds
sometimes_hints.json
gsthd.exe
newtonsoft.Json.dll
newtonsoft.json.xml
oot_places.json
settings.json
gsthd.sln
license.md
readme.md
gsthd.sln
license.md
settings.json
